target/
.git/
.gitignore
.gitattributes
.gitpod.yml
.env
.gradle/
.mvn/
oracleJdk-25/
gradlew
gradlew.bat
mvnw
mvnw.cmd
.devcontainer/
.github/
k8s/
docker-compose.yml
*.yml
*.yaml
*.log
*.tmp
*.bak
*.swp
*.swo